<?xml version='1.0' encoding='UTF-8'?>
<domain xmlns="http://xmlns.oracle.com/weblogic/domain" xmlns:sec="http://xmlns.oracle.com/weblogic/security" xmlns:wls="http://xmlns.oracle.com/weblogic/security/wls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.oracle.com/weblogic/security/xacml http://xmlns.oracle.com/weblogic/security/xacml/1.0/xacml.xsd http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator/1.0/passwordvalidator.xsd http://xmlns.oracle.com/weblogic/domain http://xmlns.oracle.com/weblogic/1.0/domain.xsd http://xmlns.oracle.com/weblogic/security http://xmlns.oracle.com/weblogic/1.0/security.xsd http://xmlns.oracle.com/weblogic/security/wls http://xmlns.oracle.com/weblogic/security/wls/1.0/wls.xsd">
  <name>medrec</name>
  <domain-version>10.3.4.0</domain-version>
  <security-configuration>
    <name>medrec</name>
    <realm>
      <sec:authentication-provider xsi:type="wls:default-authenticatorType"></sec:authentication-provider>
      <sec:authentication-provider xsi:type="wls:default-identity-asserterType">
        <sec:active-type>AuthenticatedUser</sec:active-type>
      </sec:authentication-provider>
      <sec:role-mapper xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-role-mapperType"></sec:role-mapper>
      <sec:authorizer xmlns:xac="http://xmlns.oracle.com/weblogic/security/xacml" xsi:type="xac:xacml-authorizerType"></sec:authorizer>
      <sec:adjudicator xsi:type="wls:default-adjudicatorType"></sec:adjudicator>
      <sec:credential-mapper xsi:type="wls:default-credential-mapperType"></sec:credential-mapper>
      <sec:cert-path-provider xsi:type="wls:web-logic-cert-path-providerType"></sec:cert-path-provider>
      <sec:cert-path-builder>WebLogicCertPathProvider</sec:cert-path-builder>
      <sec:name>myrealm</sec:name>
      <sec:password-validator xmlns:pas="http://xmlns.oracle.com/weblogic/security/providers/passwordvalidator" xsi:type="pas:system-password-validatorType">
        <sec:name>SystemPasswordValidator</sec:name>
        <pas:min-password-length>8</pas:min-password-length>
        <pas:min-numeric-or-special-characters>1</pas:min-numeric-or-special-characters>
      </sec:password-validator>
    </realm>
    <default-realm>myrealm</default-realm>
    <anonymous-admin-lookup-enabled>true</anonymous-admin-lookup-enabled>
    <clear-text-credential-access-enabled>true</clear-text-credential-access-enabled>
    <credential-encrypted>{AES}sUfB3ptEnclGB7o4CJxCmVgWyV+Jm1Ntj3L4+QSFDIzzEpRROlZFKJtouiVgd94WAOs+CgEERn5YLPxOpjNlLykbrPeETjleiaIQ46+VHc6vTKyNWx2xX6BW3Ic6vuIc</credential-encrypted>
    <web-app-files-case-insensitive>false</web-app-files-case-insensitive>
    <compatibility-connection-filters-enabled>false</compatibility-connection-filters-enabled>
    <node-manager-username>weblogic</node-manager-username>
    <node-manager-password-encrypted>{AES}Nm48YfNfJ2Ubozk+GujPn32jFZEYdFFruQ8HOjJtgyQ=</node-manager-password-encrypted>
    <principal-equals-case-insensitive>false</principal-equals-case-insensitive>
    <principal-equals-compare-dn-and-guid>false</principal-equals-compare-dn-and-guid>
    <downgrade-untrusted-principals>false</downgrade-untrusted-principals>
    <enforce-strict-url-pattern>true</enforce-strict-url-pattern>
    <cross-domain-security-enabled>false</cross-domain-security-enabled>
  </security-configuration>
  <jta>
    <security-interop-mode>default</security-interop-mode>
  </jta>
  <deployment-configuration>
    <remote-deployer-ejb-enabled>false</remote-deployer-ejb-enabled>
  </deployment-configuration>
  <console-enabled>true</console-enabled>
  <console-context-path>console</console-context-path>
  <console-extension-directory>console-ext</console-extension-directory>
  <server>
    <name>MedRecServer</name>
    <ssl>
      <name>MedRecServer</name>
      <enabled>true</enabled>
      <listen-port>7012</listen-port>
    </ssl>
    <listen-port>7011</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <listen-address>medrecAdmin</listen-address>
    <network-access-point>
      <name>MedRec Local Network Channel</name>
      <listen-address>localhost</listen-address>
      <public-address>localhost</public-address>
      <listen-port>7011</listen-port>
      <public-port>7011</public-port>
      <tunneling-enabled>true</tunneling-enabled>
      <two-way-ssl-enabled>true</two-way-ssl-enabled>
    </network-access-point>
    <java-compiler>javac</java-compiler>
    <staging-directory-name>/root</staging-directory-name>
    <upload-directory-name>/root</upload-directory-name>
    <staging-mode>stage</staging-mode>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <server-diagnostic-config>
      <wldf-diagnostic-volume>Medium</wldf-diagnostic-volume>
    </server-diagnostic-config>
  </server>
  <server>
    <name>medrec0MS</name>
    <ssl>
      <enabled>false</enabled>
    </ssl>
    <machine xsi:nil="true"></machine>
    <listen-port>8011</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <cluster>medrecCluster</cluster>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address>10.137.24.175</listen-address>
    <network-access-point>
      <name>medrec0-http</name>
      <protocol>http</protocol>
      <listen-address>localhost</listen-address>
      <listen-port>7011</listen-port>
      <public-port>8011</public-port>
      <http-enabled-for-this-protocol>true</http-enabled-for-this-protocol>
      <tunneling-enabled>false</tunneling-enabled>
      <outbound-enabled>false</outbound-enabled>
      <enabled>true</enabled>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <client-certificate-enforced>false</client-certificate-enforced>
    </network-access-point>
    <java-compiler>javac</java-compiler>
    <jta-migratable-target>
      <user-preferred-server>medrec0MS</user-preferred-server>
      <cluster>medrecCluster</cluster>
    </jta-migratable-target>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <server-diagnostic-config>
      <wldf-diagnostic-volume>High</wldf-diagnostic-volume>
    </server-diagnostic-config>
  </server>
  <server>
    <name>medrec1MS</name>
    <machine xsi:nil="true"></machine>
    <listen-port>8011</listen-port>
    <cluster>medrecCluster</cluster>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address>10.99.35.231</listen-address>
    <network-access-point>
      <name>medrec1-http</name>
      <protocol>http</protocol>
      <listen-address>localhost</listen-address>
      <listen-port>7011</listen-port>
      <public-port>8011</public-port>
      <http-enabled-for-this-protocol>true</http-enabled-for-this-protocol>
      <tunneling-enabled>false</tunneling-enabled>
      <outbound-enabled>false</outbound-enabled>
      <enabled>true</enabled>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <client-certificate-enforced>false</client-certificate-enforced>
    </network-access-point>
    <jta-migratable-target>
      <user-preferred-server>medrec1MS</user-preferred-server>
      <cluster>medrecCluster</cluster>
    </jta-migratable-target>
  </server>
  <server>
    <name>medrec2MS</name>
    <ssl>
      <enabled>false</enabled>
    </ssl>
    <machine xsi:nil="true"></machine>
    <listen-port>8011</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <cluster>medrecCluster</cluster>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address>10.71.149.241</listen-address>
    <network-access-point>
      <name>medrec2-http</name>
      <protocol>http</protocol>
      <listen-address>localhost</listen-address>
      <listen-port>7011</listen-port>
      <public-port>8011</public-port>
      <http-enabled-for-this-protocol>true</http-enabled-for-this-protocol>
      <tunneling-enabled>false</tunneling-enabled>
      <outbound-enabled>false</outbound-enabled>
      <enabled>true</enabled>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <client-certificate-enforced>false</client-certificate-enforced>
    </network-access-point>
    <java-compiler>javac</java-compiler>
    <jta-migratable-target>
      <user-preferred-server>medrec2MS</user-preferred-server>
      <cluster>medrecCluster</cluster>
    </jta-migratable-target>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
    <server-diagnostic-config>
      <wldf-diagnostic-volume>High</wldf-diagnostic-volume>
    </server-diagnostic-config>
  </server>
  <server>
    <name>medrec3MS</name>
    <machine xsi:nil="true"></machine>
    <listen-port>8011</listen-port>
    <cluster>medrecCluster</cluster>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address>10.239.57.114</listen-address>
    <network-access-point>
      <name>medrec3-http</name>
      <protocol>http</protocol>
      <listen-address>localhost</listen-address>
      <listen-port>7011</listen-port>
      <public-port>8011</public-port>
      <http-enabled-for-this-protocol>true</http-enabled-for-this-protocol>
      <tunneling-enabled>false</tunneling-enabled>
      <outbound-enabled>false</outbound-enabled>
      <enabled>true</enabled>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <client-certificate-enforced>false</client-certificate-enforced>
    </network-access-point>
    <jta-migratable-target>
      <user-preferred-server>medrec3MS</user-preferred-server>
      <cluster>medrecCluster</cluster>
    </jta-migratable-target>
  </server>
  <server>
    <name>medrec4MS</name>
    <ssl>
      <enabled>false</enabled>
    </ssl>
    <machine xsi:nil="true"></machine>
    <listen-port>8011</listen-port>
    <listen-port-enabled>true</listen-port-enabled>
    <cluster>medrecCluster</cluster>
    <web-server>
      <web-server-log>
        <number-of-files-limited>false</number-of-files-limited>
      </web-server-log>
    </web-server>
    <listen-address>10.209.213.118</listen-address>
    <network-access-point>
      <name>medrec4-http</name>
      <protocol>http</protocol>
      <listen-address>localhost</listen-address>
      <listen-port>7011</listen-port>
      <public-port>8011</public-port>
      <http-enabled-for-this-protocol>true</http-enabled-for-this-protocol>
      <tunneling-enabled>false</tunneling-enabled>
      <outbound-enabled>false</outbound-enabled>
      <enabled>true</enabled>
      <two-way-ssl-enabled>false</two-way-ssl-enabled>
      <client-certificate-enforced>false</client-certificate-enforced>
    </network-access-point>
    <java-compiler>javac</java-compiler>
    <jta-migratable-target>
      <user-preferred-server>medrec4MS</user-preferred-server>
      <cluster>medrecCluster</cluster>
    </jta-migratable-target>
    <client-cert-proxy-enabled>false</client-cert-proxy-enabled>
  </server>
  <cluster>
    <name>medrecCluster</name>
    <cluster-address></cluster-address>
    <multicast-address>239.192.0.0</multicast-address>
    <multicast-port>7001</multicast-port>
    <default-load-algorithm>round-robin</default-load-algorithm>
    <cluster-messaging-mode>unicast</cluster-messaging-mode>
    <cluster-broadcast-channel></cluster-broadcast-channel>
    <frontend-http-port>0</frontend-http-port>
    <frontend-https-port>0</frontend-https-port>
    <number-of-servers-in-cluster-address>5</number-of-servers-in-cluster-address>
  </cluster>
  <production-mode-enabled>false</production-mode-enabled>
  <embedded-ldap>
    <name>medrec</name>
    <credential-encrypted>{AES}AB4dY6p1t2Mfn8+g+MKLtpB2bKo9A6IJ9i6HWguiW+8DPm5ziezxyMrlpea1IaIQ</credential-encrypted>
  </embedded-ldap>
  <administration-port-enabled>false</administration-port-enabled>
  <exalogic-optimizations-enabled>false</exalogic-optimizations-enabled>
  <config-backup-enabled>false</config-backup-enabled>
  <configuration-version>10.3.4.0</configuration-version>
  <configuration-audit-type>none</configuration-audit-type>
  <cluster-constraints-enabled>false</cluster-constraints-enabled>
  <app-deployment>
    <name>medrec</name>
    <target>medrecCluster</target>
    <module-type>ear</module-type>
    <source-path>/root/medrec.ear</source-path>
    <sub-deployment>
      <name>common.jar</name>
      <target>medrecCluster</target>
    </sub-deployment>
    <sub-deployment>
      <name>medrec</name>
      <target>medrecCluster</target>
    </sub-deployment>
    <sub-deployment>
      <name>medrec-domain.jar</name>
      <target>medrecCluster</target>
    </sub-deployment>
    <sub-deployment>
      <name>medrec-facade.jar</name>
      <target>medrecCluster</target>
    </sub-deployment>
    <sub-deployment>
      <name>medrec-jaxrpc-services</name>
      <target>medrecCluster</target>
    </sub-deployment>
    <sub-deployment>
      <name>medrec-jaxws-services</name>
      <target>medrecCluster</target>
    </sub-deployment>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <app-deployment>
    <name>physician</name>
    <target>medrecCluster</target>
    <module-type>ear</module-type>
    <source-path>/root/physician.ear</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </app-deployment>
  <library>
    <name>jsf#1.2@1.2.9.0</name>
    <target>medrecCluster</target>
    <module-type>war</module-type>
    <source-path>/root/Oracle/Middleware/wlserver_10.3/common/deployable-libraries/jsf-1.2.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <library>
    <name>jstl#1.2@1.2.0.1</name>
    <target>medrecCluster</target>
    <module-type>war</module-type>
    <source-path>/root/Oracle/Middleware/wlserver_10.3/common/deployable-libraries/jstl-1.2.war</source-path>
    <security-dd-model>DDOnly</security-dd-model>
    <staging-mode>nostage</staging-mode>
  </library>
  <file-realm>
    <name>wl_default_file_realm</name>
  </file-realm>
  <realm>
    <name>wl_default_realm</name>
    <file-realm>wl_default_file_realm</file-realm>
  </realm>
  <password-policy>
    <name>wl_default_password_policy</name>
  </password-policy>
  <jms-server>
    <name>MedRec0JMSServer</name>
    <target>medrec0MS</target>
  </jms-server>
  <jms-server>
    <name>MedRec2JMSServer</name>
    <target>medrec2MS</target>
  </jms-server>
  <jms-server>
    <name>MedRec1JMSServer</name>
    <target>medrec1MS</target>
  </jms-server>
  <jms-server>
    <name>MedRec3JMSServer</name>
    <target>medrec3MS</target>
  </jms-server>
  <jms-server>
    <name>MedRec4JMSServer</name>
    <target>medrec4MS</target>
  </jms-server>
  <migratable-target>
    <name>medrec0MS (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>medrec0MS</user-preferred-server>
    <cluster>medrecCluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>medrec1MS (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>medrec1MS</user-preferred-server>
    <cluster>medrecCluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>medrec2MS (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>medrec2MS</user-preferred-server>
    <cluster>medrecCluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>medrec3MS (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>medrec3MS</user-preferred-server>
    <cluster>medrecCluster</cluster>
  </migratable-target>
  <migratable-target>
    <name>medrec4MS (migratable)</name>
    <notes>This is a system generated default migratable target for a server. Do not delete manually.</notes>
    <user-preferred-server>medrec4MS</user-preferred-server>
    <cluster>medrecCluster</cluster>
  </migratable-target>
  <jmx>
    <compatibility-m-bean-server-enabled>true</compatibility-m-bean-server-enabled>
    <management-ejb-enabled>true</management-ejb-enabled>
    <platform-m-bean-server-enabled>true</platform-m-bean-server-enabled>
    <invocation-timeout-seconds>0</invocation-timeout-seconds>
    <platform-m-bean-server-used>true</platform-m-bean-server-used>
  </jmx>
  <self-tuning>
    <work-manager>
      <name>weblogic.wsee.mdb.DispatchPolicy</name>
      <target>medrecCluster</target>
    </work-manager>
  </self-tuning>
  <mail-session>
    <name>mail/MedRecMailSession</name>
    <target>medrecCluster</target>
    <jndi-name>mail/MedRecMailSession</jndi-name>
    <properties>mail.user=joe;mail.host=mail.mycompany.com</properties>
  </mail-session>
  <jms-system-resource>
    <name>MedRec-jms</name>
    <target></target>
    <sub-deployment>
      <name>MedRecClusterSub</name>
      <target>MedRec2JMSServer</target>
    </sub-deployment>
    <descriptor-file-name>jms/MedRec-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <jms-system-resource>
    <name>MedRecClusterJMS</name>
    <target>medrecCluster</target>
    <sub-deployment>
      <name>MedRecClusterSub</name>
      <target>medrecCluster</target>
    </sub-deployment>
    <sub-deployment>
      <name>MedRec0JMSServer</name>
      <target>MedRec0JMSServer</target>
    </sub-deployment>
    <sub-deployment>
      <name>MedRec2JMSServer</name>
      <target>MedRec2JMSServer</target>
    </sub-deployment>
    <sub-deployment>
      <name>MedRec1JMSServer</name>
      <target>MedRec1JMSServer</target>
    </sub-deployment>
    <sub-deployment>
      <name>MedRec3JMSServer</name>
      <target>MedRec3JMSServer</target>
    </sub-deployment>
    <sub-deployment>
      <name>MedRec4JMSServer</name>
      <target>MedRec4JMSServer</target>
    </sub-deployment>
    <descriptor-file-name>jms/medrecclusterjms-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <jms-system-resource>
    <name>ClusterSAFErrorHandler</name>
    <target>medrecCluster</target>
    <descriptor-file-name>jms/clustersaferrorhandler-jms.xml</descriptor-file-name>
  </jms-system-resource>
  <admin-server-name>MedRecServer</admin-server-name>
  <administration-protocol>t3s</administration-protocol>
  <wldf-system-resource>
    <name>MedRecWLDF</name>
    <target>medrecCluster</target>
    <descriptor-file-name>diagnostics/MedRecWLDF.xml</descriptor-file-name>
  </wldf-system-resource>
  <jdbc-system-resource>
    <name>medrecDataSource</name>
    <target>medrecCluster</target>
    <descriptor-file-name>jdbc/medrecDataSource-3049-jdbc.xml</descriptor-file-name>
  </jdbc-system-resource>
  <saf-agent>
    <name>WsrmAgent</name>
    <target>medrecCluster</target>
    <service-type>Both</service-type>
  </saf-agent>
  <admin-console>
    <cookie-name>ADMINCONSOLESESSION</cookie-name>
    <session-timeout>3600</session-timeout>
  </admin-console>
  <internal-apps-deploy-on-demand-enabled>true</internal-apps-deploy-on-demand-enabled>
  <guardian-enabled>false</guardian-enabled>
</domain>
